#nav {
  height: 13vh;
}

#nav #reg-menu {
  background-color: transparent;
  padding: 2px 2px 2px 1vw;
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: flext-start;
      -ms-flex-pack: flext-start;
          justify-content: flext-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60vw;
  height: 100%;
}

#nav #reg-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: flext-start;
      -ms-flex-pack: flext-start;
          justify-content: flext-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding-left: 5px;
}

#nav #reg-menu ul li {
  margin-right: 2vw;
}

#nav #reg-menu ul a {
  color: #66FCF1;
  font-size: 20px;
  text-decoration: none;
  font-family: no-continue;
}

#nav #reg-menu ul a:hover {
  text-shadow: 0 0 2px #66FCF1, 0 0 3px #66FCF1, 0 0 4px #66FCF1, 0 0 5px #66FCF1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #171717;
}

#nav #reg-menu ul a:visited {
  color: #66FCF1;
  font-size: 19px;
  text-decoration: none;
}

#nav #reg-menu ul a:visited:hover {
  text-shadow: 0 0 2px #66FCF1, 0 0 3px #66FCF1, 0 0 4px #66FCF1, 0 0 5px #66FCF1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #171717;
}

#nav #menu-btn {
  display: none;
}

#nav #menu-btn img {
  height: 100%;
}

#nav #title {
  overflow: show;
  width: 38vw;
}

#nav #title a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav #title h1 {
  font-size: 7.5vh;
}

#phone-menu {
  display: none;
  z-index: -2;
  position: fixed;
}

#content-wrapper {
  height: 75vh;
  overflow: hidden;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#content-wrapper #calc-area {
  height: 73vh;
  width: 29vw;
  margin: 1vh 0 1vh 1vw;
}

#content-wrapper #calc-area h2 {
  font-size: 30px;
}

#content-wrapper #calc-area #main-shape {
  height: 28vh;
  min-height: 180px;
  width: 29vw;
  padding: 6vh 0 0 12px;
}

#content-wrapper #calc-area #main-shape svg {
  width: 60%;
  max-width: 140px;
  height: auto;
}

@media screen and (max-height: 450px) {
  #content-wrapper #calc-area #main-shape {
    min-height: 100px;
  }
  #content-wrapper #calc-area #main-shape img {
    max-width: 100px;
    width: 30%;
  }
}

#content-wrapper #calc-area #form-area {
  height: 45vh;
  width: 29vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content-wrapper #shape-list {
  height: 73vh;
  margin: 1vh 1vw 1vh 0;
  width: 66vw;
}

#content-wrapper #shape-list .shape-card {
  height: 200px;
  width: 200px;
  padding: 20px 0 20px 0;
}

#content-wrapper #shape-list .shape-card img {
  height: 100px;
  width: 100px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

#content-wrapper #shape-list .shape-card:hover h3 {
  color: #171717;
  text-shadow: 0 0 2px #66FCF1, 0 0 3px #66FCF1, 0 0 4px #66FCF1, 0 0 5px #66FCF1;
  -webkit-transition: all .3s;
  transition: all .3s;
}

footer {
  overflow: hidden;
}
/*# sourceMappingURL=largescreen.css.map */