* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* p {
  color: #66FCF1;
  font-size: 14px;
}

* a {
  color: #66FCF1;
}

* a:visited {
  color: #45A29E;
}

body, html {
  min-height: 100%;
  height: 100vh;
}

body {
  background-image: url("../../Images/Wallpaper.jpg");
  background-size: cover;
  background-color: #171717;
}

#content-privacy {
  background-color: transparent;
  height: 100%;
  width: 100%;
  padding: 20px 15vw 20px 15vw;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: flext-start;
      -ms-flex-pack: flext-start;
          justify-content: flext-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-width: 2px;
  border-style: solid;
  border-color: #66FCF1;
  -webkit-box-shadow: inset 0 0 10px #66FCF1, 0 0 10px #66FCF1;
          box-shadow: inset 0 0 10px #66FCF1, 0 0 10px #66FCF1;
}

#content-privacy p {
  margin-top: 10px;
  text-align: left;
}

#content-privacy h4 {
  font-size: 15px;
  color: #66FCF1;
  margin-top: 15px;
}

#content-calc {
  background-color: transparent;
  height: 100%;
  width: 100%;
  padding: 20px 15vw 20px 15vw;
  text-align: center;
  overflow: scroll;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-width: 2px;
  border-style: solid;
  border-color: #66FCF1;
  -webkit-box-shadow: inset 0 0 10px #66FCF1, 0 0 10px #66FCF1;
          box-shadow: inset 0 0 10px #66FCF1, 0 0 10px #66FCF1;
}

#content-calc h1 {
  font-family: no-continue;
  font-size: 7.5vh;
  color: transparent;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: #66FCF1;
}

#content-calc h1:hover {
  text-shadow: 0 0 1px #66FCF1, 0 0 2px #66FCF1, 0 0 3px #66FCF1, 0 0 4px #66FCF1, 0 0 5px #66FCF1, 0 0 6px #66FCF1, 0 0 7px #66FCF1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-text-stroke-color: #171717;
}

h4 {
  font-size: 15px;
  color: #66FCF1;
  font-family: no-continue;
  text-align: center;
}

#content-about {
  background-color: transparent;
  height: 100%;
  width: 100%;
  padding: 20px 15vw 20px 15vw;
  text-align: center;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-width: 2px;
  border-style: solid;
  border-color: #66FCF1;
  -webkit-box-shadow: inset 0 0 10px #66FCF1, 0 0 10px #66FCF1;
          box-shadow: inset 0 0 10px #66FCF1, 0 0 10px #66FCF1;
}

#content-about p {
  margin-top: 10px;
  text-align: left;
  text-justify: inter-word;
}

#content-about section {
  overflow: visible;
}

#content-about section img {
  margin-top: 10px;
  height: 20vh;
  width: auto;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

form {
  height: 50%;
  width: 100%;
  padding: 4vh 0 0 1vw;
  background-color: transparent;
}

.outputContainer {
  height: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
}

.inputContainer {
  height: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
}

input {
  height: 30px;
  width: 35%;
  min-width: 30px;
  margin-right: 2%;
  font-family: arial;
  font-size: 16px;
  text-align: right;
  padding-right: 2%;
  background-color: #171717;
  color: #EFEFEF;
  border: 1px;
  border-style: solid;
  border-color: #66FCF1;
  border-radius: 3px;
}

.output {
  height: 30px;
  width: 35%;
  min-width: 30px;
  margin-right: 2%;
  text-align: right;
  padding-right: 2%;
  background-color: #171717;
  color: #EFEFEF;
  border: 1px;
  border-style: solid;
  border-color: #66FCF1;
  border-radius: 3px;
  overflow: hidden;
}

.label {
  width: 15%;
  min-width: 40px;
  height: 30px;
  color: #66FCF1;
  text-align: right;
  margin-right: 8px;
}

.select {
  width: 46px;
}
/*# sourceMappingURL=style.css.map */