@import url("https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200;300;400;500;600;700;800&display=swap");
@font-face {
  font-family: 'no-continue';
  src: url("../../Fonts/no-continue/WebKit/no_continue.eot");
  /* IE9 Compat Modes */
  src: url("../../Fonts/no-continue/WebKit/no_continue.eot?#iefix") format("embedded-opentype"), url("../../Fonts/no-continue/WebKit/no_continue.woff2") format("woff2"), url("../../Fonts/no-continue/WebKit/no_continue.woff") format("woff"), url("../../Fonts/no-continue/WebKit/no_continue.ttf") format("truetype"), url("../../Fonts/no-continue/WebKit/no_continue.svg#no_continue") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* p {
  color: #66FCF1;
  font-size: 14px;
}

* a {
  color: #66FCF1;
}

* a:visited {
  color: #66FCF1;
}

body, html {
  min-height: 100%;
  height: 100vh;
}

body {
  background-image: url("../../Images/Wallpaper.jpg");
  background-size: cover;
  background-color: #171717;
}

h2 {
  font-family: no-continue, "Gemunu Libre", sans-serif;
  color: #66FCF1;
  text-decoration: underline;
}

h3 {
  font-family: no-continue, "Gemunu Libre", sans-serif;
  color: #66FCF1;
}

h4 {
  font-size: 15px;
  color: #66FCF1;
  font-family: no-continue, "Gemunu Libre", sans-serif;
  text-align: center;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #66FCF1 transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #66FCF1;
}

#nav {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: centre;
      -ms-flex-align: centre;
          align-items: centre;
  width: 98vw;
  margin: 0 1vw;
  padding: 3px;
}

#nav #title {
  background-color: transparent;
  padding: 2px;
  padding-right: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#nav #title a {
  display: block;
  text-decoration: none;
}

#nav #title h1 {
  font-family: no-continue, "Gemunu Libre", sans-serif;
  color: transparent;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: #66FCF1;
}

#nav #title h1:hover {
  text-shadow: 0 0 1px #66FCF1, 0 0 2px #66FCF1, 0 0 3px #66FCF1, 0 0 4px #66FCF1, 0 0 5px #66FCF1, 0 0 6px #66FCF1, 0 0 7px #66FCF1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-text-stroke-color: #171717;
}

#content-wrapper {
  background-color: transparent;
  margin: 0vh 1vw;
  width: 98vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content-wrapper #calc-area {
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: #66FCF1;
  -webkit-box-shadow: inset 0 0 10px #66FCF1, 0 0 10px #66FCF1;
          box-shadow: inset 0 0 10px #66FCF1, 0 0 10px #66FCF1;
  color: #66FCF1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content-wrapper #calc-area #main-shape {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content-wrapper #calc-area #form-area {
  background-color: transparent;
  overflow: scroll;
  overflow-x: hidden;
  padding: 0 0 0 12px;
}

#content-wrapper #shape-list {
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  padding: 15px 15px 15px 27px;
  border-color: #66FCF1;
  -webkit-box-shadow: inset 0 0 10px #66FCF1, 0 0 10px #66FCF1;
          box-shadow: inset 0 0 10px #66FCF1, 0 0 10px #66FCF1;
  overflow: scroll;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#content-wrapper #shape-list h1 {
  font-family: no-continue, "Gemunu Libre", sans-serif;
  color: #66FCF1;
  font-size: 40px;
  margin: auto;
}

#content-wrapper .shape-card {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.1;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

#content-wrapper .shape-card.been-in-view {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

#content-wrapper h2 {
  text-align: center;
}

form {
  height: 50%;
  width: 100%;
  padding: 4vh 0 0 1vw;
  background-color: transparent;
}

.outputContainer {
  height: 40px;
  width: 100%;
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: transparent;
}

.inputContainer {
  height: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
}

input {
  height: 30px;
  width: 35%;
  min-width: 30px;
  margin-right: 2%;
  font-family: "Gemunu Libre", sans-serif;
  font-size: 16px;
  text-align: right;
  padding-right: 2%;
  background-color: #171717;
  color: #EFEFEF;
  border: 1px;
  border-style: solid;
  border-color: #66FCF1;
  border-radius: 3px;
}

input:focus {
  outline-width: 0;
  border-color: #66FCF1;
}

.output {
  height: 30px;
  width: 35%;
  font-family: "Gemunu Libre", sans-serif;
  min-width: 30px;
  margin-right: 2%;
  text-align: right;
  padding-right: 2%;
  background-color: #171717;
  color: #EFEFEF;
  border: 1px;
  border-style: solid;
  border-color: #66FCF1;
  border-radius: 3px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.label {
  width: 15%;
  min-width: 40px;
  height: 30px;
  font-family: 'Gemunu Libre', sans-serif;
  color: #66FCF1;
  text-align: right;
  margin-right: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select {
  width: 46px;
  background-color: transparent;
  color: #66FCF1;
  border: none;
  outline-width: 0;
}

select > option {
  background: #171717;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

footer {
  background-color: transparent;
  height: 10vh;
  margin: 0 1vw;
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #filter {
  background-color: transparent;
  color: #66FCF1;
  height: 100%;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer #social-media {
  background-color: transparent;
  height: 100%;
  width: 20%;
  min-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #social-media ul {
  background-color: transparent;
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3vh;
}

footer #social-media ul li a img {
  height: 25px;
  width: 25px;
}

footer #social-media ul li a img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

footer #privacy {
  background-color: transparent;
  height: 100%;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#content-calc {
  background-color: transparent;
  height: 100%;
  width: 100%;
  padding: 20px 15vw 20px 15vw;
  text-align: center;
  overflow: scroll;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-width: 2px;
  border-style: solid;
  border-color: #66FCF1;
  -webkit-box-shadow: inset 0 0 10px #66FCF1, 0 0 10px #66FCF1;
          box-shadow: inset 0 0 10px #66FCF1, 0 0 10px #66FCF1;
}

#content-calc h1 {
  font-family: no-continue, "Gemunu Libre", sans-serif;
  font-size: 7.5vh;
  color: transparent;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: #66FCF1;
}

#content-calc h1:hover {
  text-shadow: 0 0 1px #66FCF1, 0 0 2px #66FCF1, 0 0 3px #66FCF1, 0 0 4px #66FCF1, 0 0 5px #66FCF1, 0 0 6px #66FCF1, 0 0 7px #66FCF1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-text-stroke-color: #171717;
}

#content-about {
  background-color: transparent;
  height: 98%;
  width: 98%;
  margin: 1% 1% 1% 1%;
  padding: 20px 15vw 20px 15vw;
  text-align: center;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-width: 2px;
  border-style: solid;
  border-color: #66FCF1;
  -webkit-box-shadow: inset 0 0 10px #66FCF1, 0 0 10px #66FCF1;
          box-shadow: inset 0 0 10px #66FCF1, 0 0 10px #66FCF1;
}

#content-about p {
  margin-top: 10px;
  text-align: left;
  text-justify: inter-word;
}

#content-about section {
  overflow: visible;
}

#content-about section img {
  margin-top: 10px;
  height: 20vh;
  width: auto;
}

#content-privacy {
  background-color: transparent;
  height: 98%;
  width: 98%;
  margin: 1% 1% 1% 1%;
  padding: 20px 15vw 20px 15vw;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: flext-start;
      -ms-flex-pack: flext-start;
          justify-content: flext-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-width: 2px;
  border-style: solid;
  border-color: #66FCF1;
  -webkit-box-shadow: inset 0 0 10px #66FCF1, 0 0 10px #66FCF1;
          box-shadow: inset 0 0 10px #66FCF1, 0 0 10px #66FCF1;
}

#content-privacy h4 {
  font-size: 15px;
  color: #66FCF1;
  margin-top: 15px;
}

.blob {
  border-radius: 80%;
  -webkit-animation: transform 5s linear infinite both alternate;
          animation: transform 5s linear infinite both alternate;
}

@-webkit-keyframes transform {
  0%,
  20% {
    border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%;
  }
  40% {
    border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%;
  }
  60% {
    border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%;
  }
  80% {
    border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%;
  }
  100% {
    border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;
  }
}

@keyframes transform {
  0%,
  20% {
    border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%;
  }
  40% {
    border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%;
  }
  60% {
    border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%;
  }
  80% {
    border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%;
  }
  100% {
    border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;
  }
}
/*# sourceMappingURL=style.css.map */