// Styling for devices with 601px+ screen width
$neon-blue: #66FCF1;
$white: #EFEFEF; //Slighty offset white for OLED screens
$black: #171717; //Slightly offset black for OLED screens
$no-continue: no-continue; //Font stack



// Header
#nav {
  height: 13vh;
  #reg-menu {
    background-color: transparent;
    padding: 2px 2px 2px 1vw;
    overflow: visible;
    display: flex;
    flex-direction: row;
    justify-content: flext-start;
    align-items: center;
    width: 60vw;
    height: 100%;
    ul {
      display: flex;
      flex-direction: row;
      justify-content: flext-start;
      align-items: center;
      list-style-type: none;
      padding-left: 5px;
      li {
        margin-right: 2vw;
      }
      a {
        color: $neon-blue;
        font-size: 20px;
        text-decoration: none;
        font-family: $no-continue;
      }
      a:hover {
        text-shadow: 0 0 2px $neon-blue, 0 0 3px $neon-blue, 0 0 4px $neon-blue, 0 0 5px $neon-blue;
        transition: all 0.3s;
        color: $black;
      }
      a:visited {
        color: $neon-blue;  
        font-size: 19px;
        text-decoration: none;
      }
      a:visited:hover {
        text-shadow: 0 0 2px $neon-blue, 0 0 3px $neon-blue, 0 0 4px $neon-blue, 0 0 5px $neon-blue;
        transition: all 0.3s;
        color: $black;
      }
    }
  }
  #menu-btn {
    display: none;
    img {
      height: 100%;
    }
  }
  #title {
    overflow: show;
    width: 38vw;
    a {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    h1 {
      font-size: 7.5vh;
    }
  }
}

// Default hidden state of menu on large screens
#phone-menu {
  display: none;
  z-index: -2;
  position: fixed;
}



// Content
#content-wrapper {
  height: 75vh;
  overflow: hidden;
  flex-direction: row;
  #calc-area {
    height: 73vh;
    width: 29vw;
    margin: 1vh 0 1vh 1vw;
    h2 {
      font-size: 30px;
    }
    #main-shape {
      height: 28vh;
      min-height: 180px;
      width: 29vw;
      padding: 6vh 0 0 12px;
      svg {
        width: 60%;
        max-width: 140px;
        height: auto;
        overflow: visible;
      }
    }
    @media screen and (max-height: 450px) {
      #main-shape {
        min-height: 100px;
        img {
          max-width: 100px;
          width: 30%;
        }
      }
    }
    #form-area {
      height: 45vh;
      width: 29vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  #shape-list {
    height: 73vh;
    margin: 1vh 1vw 1vh 0;
    width: 66vw;
    .shape-card {
      height: 200px;
      width: 200px;
      padding: 20px 0 20px 0;
      img {
        height: 100px;
        width: 100px;
        transition: all .3s ease-in-out;
      }
    }
    .shape-card:hover {
      h3 {
        color: $black;
        text-shadow: 0 0 2px $neon-blue, 0 0 3px $neon-blue, 0 0 4px $neon-blue, 0 0 5px $neon-blue;
        transition: all .3s;
      }
    }
  }
}

//Footer
footer {
  overflow: hidden;
  }
