/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #66FCF1 transparent;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid #66FCF1;
}

#nav {
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: centre;
      -ms-flex-align: centre;
          align-items: centre;
  height: 13vh;
  width: 98vw;
  margin: 0 1vw;
  padding: 3px;
}

#nav #reg-menu {
  background-color: transparent;
  padding: 2px;
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: flext-start;
      -ms-flex-pack: flext-start;
          justify-content: flext-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60vw;
  height: 100%;
}

#nav #reg-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: flext-start;
      -ms-flex-pack: flext-start;
          justify-content: flext-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding-left: 5px;
}

#nav #reg-menu ul li {
  margin-right: 2vw;
}

#nav #reg-menu ul a {
  color: #66FCF1;
  font-size: 19px;
  text-decoration: none;
  font-family: no-continue;
}

#nav #reg-menu ul a:hover {
  text-shadow: 0 0 2px #66FCF1, 0 0 3px #66FCF1, 0 0 4px #66FCF1, 0 0 5px #66FCF1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #171717;
}

#nav #reg-menu ul a:visited {
  color: #66FCF1;
  font-size: 19px;
  text-decoration: none;
}

#nav #reg-menu ul a:visited:hover {
  text-shadow: 0 0 2px #66FCF1, 0 0 3px #66FCF1, 0 0 4px #66FCF1, 0 0 5px #66FCF1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #171717;
}

#nav #ham-menu {
  display: none;
}

#nav #ham-menu img {
  height: 100%;
}

#nav #title {
  background-color: transparent;
  padding: 2px;
  overflow: show;
  padding-right: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 38vw;
  height: 100%;
}

#nav #title a {
  display: block;
  height: 100%;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#nav #title h1 {
  font-family: no-continue;
  font-size: 7.5vh;
  color: transparent;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: #66FCF1;
}

#nav #title h1:hover {
  text-shadow: 0 0 1px #66FCF1, 0 0 2px #66FCF1, 0 0 3px #66FCF1, 0 0 4px #66FCF1, 0 0 5px #66FCF1, 0 0 6px #66FCF1, 0 0 7px #66FCF1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-text-stroke-color: #171717;
}

#phone-menu {
  display: none;
  z-index: -2;
  position: fixed;
}

h2 {
  font-family: no-continue;
  color: #66FCF1;
  font-size: 30px;
  text-decoration: underline;
}

h3 {
  font-family: no-continue;
  color: #66FCF1;
}

#content-wrapper {
  background-color: transparent;
  height: 75vh;
  width: 98vw;
  margin: 0vh 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content-wrapper #calc-area {
  background-color: transparent;
  height: 75vh;
  width: 37vw;
  padding: 5px;
  border-width: 2px;
  border-style: solid;
  border-color: #66FCF1;
  -webkit-box-shadow: inset 0 0 10px #66FCF1, 0 0 10px #66FCF1;
          box-shadow: inset 0 0 10px #66FCF1, 0 0 10px #66FCF1;
  color: #66FCF1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content-wrapper #calc-area img {
  width: 30%;
  height: auto;
}

#content-wrapper #shape-list {
  background-color: transparent;
  height: 75vh;
  width: 60vw;
  padding: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: #66FCF1;
  -webkit-box-shadow: inset 0 0 10px #66FCF1, 0 0 10px #66FCF1;
          box-shadow: inset 0 0 10px #66FCF1, 0 0 10px #66FCF1;
  overflow: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: space-evenly;
      -ms-flex-align: space-evenly;
          align-items: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow-x: hidden;
}

#content-wrapper .shape-card {
  background-color: transparent;
  height: 200px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0 20px 0;
}

#content-wrapper img {
  height: 150px;
  width: 150px;
}

#content-wrapper h3 {
  font-family: no-continue;
}

.shape-card:hover h3 {
  color: #171717;
  text-shadow: 0 0 2px #66FCF1, 0 0 3px #66FCF1, 0 0 4px #66FCF1, 0 0 5px #66FCF1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

footer {
  background-color: transparent;
  height: 10vh;
  margin: 0 1vw;
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

footer #copyright {
  background-color: transparent;
  color: #66FCF1;
  height: 100%;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer #social-media {
  background-color: transparent;
  height: 100%;
  width: 20%;
  min-width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #social-media ul {
  background-color: transparent;
  width: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3vh;
}

footer #social-media ul li a img {
  height: 25px;
  width: 25px;
}

footer #privacy {
  background-color: transparent;
  height: 100%;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
/*# sourceMappingURL=largescreen.css.map */