//Styles for devices with up to 481px screen width
$neon-blue: #66FCF1;
$white: #EFEFEF; //Slighty offset white for OLED screens
$black: #171717; //Slightly offset black for OLED screens
$no-continue: no-continue; //Font stack


//Scrollbar formatting

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $neon-blue transparent;
  // overflow-x: hidden;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid $neon-blue;
}

// Header

#nav {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: centre;
  height: 10vh;
  width: 98vw;
  margin: 0 1vw;
  padding: 3px;
  #reg-menu {
    display: none
  }
  #ham-menu {
    background-color: transparent;
    padding: 2px;
    overflow: visible;
    display: flex;
    flex-direction: row;
    justify-content: flext-start;
    align-items: center;
    width: 16vw;
    height: 100%;
    img {
      width: 70%;
      min-width: 40px;
    }
  }
  #title {
    background-color: transparent;
    padding: 2px;
    overflow: hidden;
    padding-right:1vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    width: 64vw;
    height: 100%;
    a {
      display: block;
      width: 80%;
      text-decoration: none;
    }
    h1 {
      font-family: $no-continue;
      font-size: 9vw; 
      color: transparent;
      -webkit-text-stroke-width: 0.2px;
      -webkit-text-stroke-color: $neon-blue; 
    }
    h1:hover { 
      text-shadow:  0 0 1px $neon-blue, 0 0 2px $neon-blue, 0 0 3px $neon-blue, 0 0 4px $neon-blue, 
                    0 0 5px $neon-blue,  0 0 6px $neon-blue,  0 0 7px $neon-blue;
      transition: all 0.3s;
      -webkit-text-stroke-color: $black;
    }
  }
}

#phone-menu {
  position: absolute;
  height: 79vh;
  width: 98vw;
  background-color: black;
  margin: 0 1vw 1vh 1vw;
  z-index: 2;
  border-width: 2px;
  border-style: solid;
  border-color: $neon-blue;
  box-shadow:  inset 0 0 10px $neon-blue, 0 0 10px $neon-blue;


  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    li {
      color: $neon-blue;
      font-family: $no-continue;
      height: 20vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      a {
        color: $neon-blue;
        font-size: 19px;
        text-decoration: none;
        font-family: $no-continue;
      }
      a:visited {
        color: $neon-blue;  
        font-size: 19px;
        text-decoration: none;
      }
    }
  }
  display: none;
}

// Content
h2 {
  font-family: $no-continue;
  color: $neon-blue;
  font-size: 30px;
  text-decoration: underline;
}

#content-wrapper {
  background-color: transparent;
  height: 79vh;
  width: 98vw;
  margin: 0 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  #calc-area {
    background-color: transparent;
    height: 37vh;
    width: 96vw;
    margin: 1vh 0 0 0;
    border-width: 2px;
    border-style: solid;
    border-color: $neon-blue;
    box-shadow:  inset 0 0 10px $neon-blue, 0 0 10px $neon-blue;
    color: $neon-blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      text-align: center;
    }
    img {
      height: 30%;
      width: auto;
    }
  }
  #shape-list {
    background-color: transparent;
    height: 39vh;
    margin: 0 0 1vh 0;
    width: 96vw;
    border-width: 2px;
    border-style: solid;
    border-color: $neon-blue;
    box-shadow:  inset 0 0 10px $neon-blue, 0 0 10px $neon-blue;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: space-evenly;
    flex-wrap: wrap;
    overflow-x: hidden;
  }
  .shape-card {
    background-color: transparent;
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 0;
    img {
      height: 50px;
      width: 50px;
    }
    h3 {
      font-family: $no-continue;
      color: $neon-blue;
      font-size: 13px;
    }
    
  }
}

//Footer
footer {
  background-color: transparent;
  height: 10vh;
  margin: 0 1vw;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  #copyright {
    background-color: transparent;
    color: $neon-blue;
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: flex-end;
    overflow: hidden;
  }
  #social-media {
    background-color: transparent;
    height: 100%;
    width: 20%;
    min-width: 150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    ul {
      background-color: transparent;
      width: 100%;
      list-style: none;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      margin-top: 3vh;
      li a img {
        height: 25px;
        width: 25px;
      }
    }
  }
  #privacy {
    background-color: transparent;
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: flex-end;
    text-align: right;
    overflow: hidden;
  }
}