//Styles for devices with up to 600px screen width

// Header
#nav {
  height: 10vh;
  #reg-menu {
    display: none
  }
  #menu-btn {
    background-color: transparent;
    height: 100%;
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all .5s ease-in-out;
    .menu-icon {
      background-color: $neon-blue;
      height: 5px;
      width: 40px;
      border-radius: 5px;
      transition: all .5s ease-in-out;
    }
    .menu-icon::before,
    .menu-icon::after {
      background: $neon-blue;
      content: "";
      height: 5px;
      width: 40px;
      border-radius: 5px;
      position: absolute;
      transition: all .5s ease-in-out;
    }
    .menu-icon::before {
      transform: translateY(-12px);
    }
    .menu-icon::after {
      transform: translateY(12px);
    }
    .menu-icon.open {
      background: transparent;
      transform: opacity(0);
    }
    .menu-icon.open::before {
      transform: rotate(45deg);
    }
    .menu-icon.open::after {
      transform: rotate(-45deg);
    }
  }
  #title {
    width: 64vw;
    overflow: hidden;
    text-align: right;
    a {
      width: 80%;
    }
    h1 {
      font-size: 9vw; 
    }
  }
}

#phone-menu {
  background-color: black;
  height: 79vh;
  width: 98vw;
  margin: 0 1vw 1vh 1vw;
  z-index: 2;
  border-width: 2px;
  border-style: solid;
  border-color: $neon-blue;
  box-shadow:  inset 0 0 10px $neon-blue, 0 0 10px $neon-blue;
  position: absolute;
  transform: translateX(-800px); //Default setting on page load
  transition: all .5s ease-in-out;
  ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    li {
      height: 20vh;
      color: $neon-blue;
      font-family: $no-continue;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      a {
        color: $neon-blue;
        font-size: 19px;
        text-decoration: none;
        font-family: $no-continue;
      }
      a:visited {
        color: $neon-blue;  
        font-size: 19px;
        text-decoration: none;
      }
    }
  }
}


// Content
#content-wrapper {
  height: 79vh;
  flex-direction: column;
  #calc-area {
    height: 37vh;
    width: 96vw;
    margin: 1vh 0 0 0;
    h2 {
      font-size: 20px;
    }
    #main-shape {
      height: 17vh;
      width: 96vw;
      svg {
        height: 60%;
        width: auto;
      }
    }
    #form-area {
      height: 20vh;
      width: 96vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  #shape-list {
    height: 39vh;
    width: 96vw;
    margin: 0 0 1vh 0;
  }
  .shape-card {
    height: 100px;
    width: 100px;
    padding: 10px 0 10px 0;
    img {
      height: 50px;
      width: 50px;
    }
    h3 {
      font-size: 13px;
    }
  }
}


//Footer
footer {
  #filter {
    overflow: hidden;
  }
  #privacy {
    text-align: right;
    overflow: hidden;
  }
}